Repository Codeinwp/otter-blocks, pull requests merged in 2021-11, with the labels that each got.

#584 New Form Backend
  inc/integrations/api/form-request-data.php
  inc/integrations/api/form-response-data.php
  inc/integrations/class-mailchimp.php
  inc/integrations/class-sendinblue.php
  inc/server/class-form-server.php
Labels: refactor

#601 Add missing arguments in function call from `main`
  inc/class-main.php
Labels: bug

#593 Improve Advance Heading Controls
  inc/css/blocks/class-advanced-heading-css.php
  src/blocks/blocks/advanced-heading/attributes.js
  src/blocks/blocks/advanced-heading/controls.js
  src/blocks/blocks/advanced-heading/edit.js
  src/blocks/blocks/advanced-heading/editor.scss
  src/blocks/blocks/advanced-heading/inspector.js
  src/blocks/components/clear-button/editor.scss
  src/blocks/components/clear-button/index.js
Labels: enhancement

#586 Icon List Improvements
  inc/css/blocks/class-icon-list-css.php
  src/blocks/blocks/icon-list/attributes.js
  src/blocks/blocks/icon-list/controls.js
  src/blocks/blocks/icon-list/edit.js
  src/blocks/blocks/icon-list/editor.scss
  src/blocks/blocks/icon-list/style.scss
Labels: enhancement

#608 Reduce build files size.
  .gitattributes
  webpack.config.js
Labels: optimization

#536 Add Flip Block
  inc/class-base-css.php
  inc/css/blocks/class-flip-css.php
  src/blocks/blocks/flip/attributes.js
  src/blocks/blocks/flip/edit.js
  src/blocks/blocks/flip/editor.scss
  src/blocks/blocks/flip/index.js
  src/blocks/blocks/flip/inspector.js
  src/blocks/blocks/flip/save.js
  src/blocks/blocks/flip/style.scss
  src/blocks/components/background-selector/index.js
Labels: enhancement

#609 Add Flip Block
  inc/class-base-css.php
  inc/css/blocks/class-flip-css.php
  package-lock.json
  src/blocks/blocks/flip/attributes.js
  src/blocks/blocks/flip/controls.js
  src/blocks/blocks/flip/edit.js
  src/blocks/blocks/flip/editor.scss
  src/blocks/blocks/flip/index.js
  src/blocks/blocks/flip/inspector.js
  src/blocks/blocks/flip/save.js
  src/blocks/blocks/flip/style.scss
  src/blocks/blocks/lottie/controls.js
  src/blocks/components/background-selector/index.js
Labels: enhancement

#611 Refactor the group button spacing
  inc/css/blocks/class-button-group-css.php
  src/blocks/blocks/button-group/button/edit.js
  src/blocks/blocks/button-group/editor.scss
  src/blocks/blocks/button-group/group/edit.js
Labels: bug

#624 Update PHP dependancy function
  inc/css/class-block-frontend.php
Labels: bug

#622 Refactor spacing in Icon List Block
  inc/css/blocks/class-icon-list-css.php
  src/blocks/blocks/icon-list/edit.js
  src/blocks/blocks/icon-list/inspector.js
  src/blocks/blocks/icon-list/item/edit.js
  src/blocks/blocks/icon-list/style.scss
Labels: bug

#630 Fix Otter Blocks crashing on Widgets
  .eslintrc
  assets/leaflet/leaflet-gesture-handling.min.js
  assets/leaflet/leaflet.css
  assets/leaflet/leaflet.js
  inc/class-blocks-animation.php
  inc/class-main.php
  readme.md
  readme.txt
  src/animation/components/animation-popover.js
  src/blocks/blocks/advanced-heading/controls.js
  src/blocks/blocks/advanced-heading/edit.js
  src/blocks/blocks/advanced-heading/inspector.js
  src/blocks/blocks/button-group/group/edit.js
  src/blocks/blocks/countdown/components/display-time.js
  src/blocks/blocks/countdown/edit.js
  src/blocks/blocks/countdown/inspector.js
  src/blocks/blocks/form/placeholder.js
  src/blocks/blocks/google-maps/components/marker-modal.js
  src/blocks/blocks/google-maps/components/marker-wrapper.js
  src/blocks/blocks/google-maps/inspector.js
  src/blocks/blocks/google-maps/placeholder.js
  src/blocks/blocks/leaflet-map/components/marker-wrapper.js
  src/blocks/blocks/leaflet-map/edit.js
  src/blocks/blocks/lottie/controls.js
  src/blocks/blocks/lottie/edit.js
  src/blocks/blocks/plugin-card/controls.js
  src/blocks/blocks/posts/components/layout/grid.js
  src/blocks/blocks/posts/components/layout/list.js
  src/blocks/blocks/review/edit.js
  src/blocks/blocks/review/inspector.js
  src/blocks/blocks/section/column/edit.js
  src/blocks/blocks/section/column/inspector.js
  src/blocks/blocks/section/columns/edit.js
  src/blocks/blocks/section/columns/inspector.js
  src/blocks/blocks/section/components/background-control/index.js
  src/blocks/blocks/section/components/layout-control/index.js
  src/blocks/blocks/section/components/onboarding/index.js
  src/blocks/blocks/sharing-icons/controls.js
  src/blocks/blocks/tabs/group/inspector.js
  src/blocks/components/block-navigator-control/index.js
  src/blocks/components/google-fonts-control/index.js
  src/blocks/components/icon-picker-control/index.js
  src/blocks/components/responsive-control/index.js
  src/blocks/components/style-switcher-control/index.js
  src/blocks/components/template-library/components/header.js
  src/blocks/components/template-library/components/template.js
  src/blocks/components/template-library/components/templates-list.js
  src/blocks/frontend/leaflet-map/index.js
  src/blocks/plugins/conditions/edit.js
  src/blocks/plugins/options/global-defaults/block-item.js
  src/blocks/plugins/options/global-defaults/controls/advanced-heading.js
  src/blocks/plugins/options/global-defaults/controls/section-column.js
  src/blocks/plugins/options/global-defaults/controls/section-columns.js
  src/blocks/plugins/options/index.js
  src/dashboard/Components/ButtonControl.js
  src/dashboard/Components/Main.js
  src/dashboard/Components/Onboarding.js
  src/export-import/exporter.js
Labels: bug
