Repository Codeinwp/otter-blocks, pull requests merged in 2023-09, with the labels that each got.

#1838 Attach Themeisle docs link on Mapped Name
  src/blocks/blocks/form/common.tsx
  src/blocks/blocks/form/file/inspector.js
  src/blocks/blocks/form/hidden-field/inspector.js
  src/blocks/blocks/form/input/inspector.js
  src/blocks/blocks/form/multiple-choice/inspector.js
  src/blocks/blocks/form/textarea/inspector.js
  src/blocks/frontend/form/index.js
  src/pro/blocks/file/inspector.js
  src/pro/blocks/form-hidden-field/inspector.js
  src/pro/plugins/form/index.js
Labels: pr-checklist-skip, pr-checklist-complete

#1803 Add AI Content
  assets/images/guide/welcome-ai.png
  inc/plugins/class-options-settings.php
  inc/server/class-prompt-server.php
  src/blocks/blocks/content-generator/block.json
  src/blocks/blocks/content-generator/edit.js
  src/blocks/blocks/content-generator/editor.scss
  src/blocks/blocks/content-generator/index.js
  src/blocks/blocks/content-generator/inspector.js
  src/blocks/blocks/content-generator/types.d.ts
  src/blocks/components/prompt/editor.scss
  src/blocks/components/prompt/index.tsx
  src/blocks/components/prompt/prompt-input.tsx
  src/blocks/helpers/block-utility.js
  src/blocks/helpers/blocks.d.ts
  src/blocks/helpers/prompt.ts
  src/blocks/plugins/ai-content/editor.scss
  src/blocks/plugins/ai-content/index.tsx
  src/blocks/plugins/registerPlugin.tsx
  src/blocks/plugins/welcome-guide/editor.scss
  src/blocks/plugins/welcome-guide/index.js
  src/dashboard/components/pages/Integrations.js
Labels: pr-checklist-skip, pr-checklist-complete

#1864 Add AI Block consent toggle
  inc/server/class-prompt-server.php
  src/blocks/blocks/content-generator/editor.scss
  src/blocks/components/prompt/index.tsx
Labels: pr-checklist-skip, pr-checklist-complete

#1834 Allow saving in FSE for Form Options
  src/blocks/blocks/form/edit.js
  src/blocks/helpers/block-utility.js
  src/blocks/test/e2e/blocks/form.spec.js
Labels: pr-checklist-skip, pr-checklist-complete

#1866 Improve Otter Dashboard UX
  src/blocks/helpers/use-settings.js
  src/dashboard/components/pages/Dashboard.js
Labels: pr-checklist-skip, pr-checklist-complete

#1867 Remove unnecessary deps when using widgets
  inc/class-registration.php
Labels: pr-checklist-skip, pr-checklist-complete

#1844 Fix/hover and link styles minor issues
  src/dashboard/style.scss
Labels: pr-checklist-skip, pr-checklist-complete

#1873 Do not ignore CURSOR color during typiing anim
  src/animation/frontend/typing/index.js
  src/blocks/test/e2e/blocks/animations.spec.js
Labels: pr-checklist-complete

#1872 Load Live Search deps via WordPress Action Hook
  plugins/otter-pro/inc/plugins/class-live-search.php
Labels: pr-checklist-skip, pr-checklist-complete

#1881 fix: phpstan issues
  inc/class-blocks-css.php
  inc/class-registration.php
  inc/css/class-block-frontend.php
Labels: pr-checklist-skip
