Repository Codeinwp/otter-blocks, pull requests merged in 2023-11, with the labels that each got.

#1824 [Rock] Add PHP unit tests
  .github/workflows/test-php.yml
  .gitignore
  inc/plugins/class-block-conditions.php
  inc/plugins/class-dynamic-content.php
  inc/plugins/class-stripe-api.php
  package.json
  tests/bootstrap.php
  tests/stripe-http-client-mock.php
  tests/test-block-conditions.php
  tests/test-dynamic-content.php
  tests/test-patterns-class.php
  tests/test-stripe-api-class.php
Labels: pr-checklist-complete

#1868 Improve Marketing Integration info & bug fix
  inc/server/class-form-server.php
  src/blocks/blocks/form/edit.js
  src/blocks/blocks/form/inspector.js
  src/blocks/helpers/defered-wp-options-save.js
Labels: pr-checklist-skip, pr-checklist-complete

#1870 Add Global Defaults option for Heading Block & CSS improvments
  inc/css/blocks/class-advanced-heading-css.php
  src/blocks/blocks/advanced-heading/inspector.js
  src/blocks/components/typography-selector-control/editor.scss
  src/blocks/plugins/options/editor.scss
  src/blocks/plugins/options/global-defaults/controls/heading.js
  src/blocks/plugins/options/global-defaults/defaults.js
  src/blocks/plugins/options/index.js
Labels: pr-checklist-skip, pr-checklist-complete

#1875 Animation enhancements
  inc/class-blocks-animation.php
  src/animation/data.js
  src/animation/editor.js
  src/animation/editor.scss
  src/animation/frontend.js
  src/blocks/helpers/block-utility.js
  src/blocks/helpers/blocks.d.ts
  src/blocks/test/e2e/blocks/animations.spec.js
Labels: pr-checklist-skip, pr-checklist-complete

#1878 Add Pagination for Posts
  inc/css/blocks/class-posts-css.php
  inc/css/class-css-utility.php
  inc/render/class-posts-grid-block.php
  src/blocks/blocks/posts/block.json
  src/blocks/blocks/posts/components/layout/index.js
  src/blocks/blocks/posts/edit.js
  src/blocks/blocks/posts/inspector.js
  src/blocks/blocks/posts/style.scss
  src/blocks/blocks/posts/types.d.ts
  src/blocks/helpers/helper-functions.js
Labels: pr-checklist-skip, pr-checklist-complete

#1935 Do not clean detected widgets on widget content detection
  inc/class-registration.php
Labels: pr-checklist-skip

#1883 Add screen size condition
  inc/class-registration.php
  inc/plugins/class-block-conditions.php
  src/blocks/plugins/conditions/edit.js
  tests/test-block-conditions.php
Labels: pr-checklist-skip, pr-checklist-complete

#1934 Fix Live Search initialisation inside containers like Popup Block
  src/blocks/frontend/live-search/index.ts
  src/blocks/test/e2e/blocks/live-search.spec.js
Labels: pr-checklist-complete

#1927 Add the option to hide the blocks in Inserter.
  inc/plugins/class-dashboard.php
  inc/plugins/class-options-settings.php
  src/blocks/helpers/icons.js
  src/blocks/index.js
  src/blocks/plugins/ai-content/index.tsx
  src/dashboard/components/Header.js
  src/dashboard/components/Main.js
  src/dashboard/components/pages/Blocks.js
  src/dashboard/dashboard.d.ts
  src/dashboard/index.js
  src/dashboard/style.scss
  src/pro/blocks/review-comparison/index.js
Labels: pr-checklist-skip, pr-checklist-complete

#1910 Add Default Value to Form Fields
  inc/render/class-form-multiple-choice.php
  plugins/otter-pro/inc/render/class-form-hidden-block.php
  src/blocks/blocks/form/common.tsx
  src/blocks/blocks/form/hidden-field/block.json
  src/blocks/blocks/form/input/block.json
  src/blocks/blocks/form/input/edit.js
  src/blocks/blocks/form/input/inspector.js
  src/blocks/blocks/form/input/save.js
  src/blocks/blocks/form/multiple-choice/block.json
  src/blocks/blocks/form/multiple-choice/edit.js
  src/blocks/blocks/form/multiple-choice/inspector.js
  src/blocks/blocks/form/multiple-choice/types.d.ts
  src/blocks/blocks/form/textarea/block.json
  src/blocks/blocks/form/textarea/edit.js
  src/blocks/blocks/form/textarea/inspector.js
  src/blocks/blocks/form/textarea/save.js
  src/blocks/blocks/tabs/editor.scss
  src/blocks/frontend/form/index.js
  src/blocks/test/e2e/blocks/form.spec.js
  src/pro/blocks/form-hidden-field/block.json
  src/pro/blocks/form-hidden-field/edit.js
  src/pro/blocks/form-hidden-field/inspector.js
  src/pro/blocks/form-hidden-field/types.d.ts
Labels: pr-checklist-complete

#1958 Remove obsolete base64 checking in Form File validation
  inc/integrations/class-form-utils.php
Labels: pr-checklist-skip

#1925 Use Ai for patterns recommendation
  .phpunit.result.cache
  src/blocks/blocks/content-generator/block.json
  src/blocks/blocks/content-generator/edit.js
  src/blocks/blocks/content-generator/index.js
  src/blocks/components/prompt/editor.scss
  src/blocks/components/prompt/index.tsx
  src/blocks/helpers/block-utility.js
  src/blocks/helpers/icons.js
  src/blocks/helpers/prompt.ts
Labels: pr-checklist-skip, pr-checklist-complete

#1919 Add feature usage observer.
  inc/Tracker.php
  inc/class-registration.php
  inc/server/class-dashboard-server.php
  otter-blocks.php
  package-lock.json
  package.json
  plugins/otter-pro/inc/plugins/class-stripe-pro-features.php
  src/blocks/blocks/form/edit.js
  src/blocks/blocks/form/inspector.js
  src/blocks/blocks/stripe-checkout/edit.tsx
  src/blocks/blocks/stripe-checkout/inspector.js
  src/blocks/components/prompt/index.tsx
  src/blocks/global.d.ts
  src/blocks/helpers/index.js
  src/blocks/helpers/prompt.ts
  src/blocks/plugins/ai-content/index.tsx
  src/blocks/plugins/conditions/edit.js
  src/blocks/plugins/css-handler/index.js
  src/blocks/plugins/dynamic-content/link/fields.js
  src/blocks/plugins/dynamic-content/media/media-content.js
  src/blocks/plugins/feedback/index.js
  src/blocks/plugins/options/index.js
  src/css/editor.js
  src/dashboard/components/pages/Dashboard.js
  src/dashboard/components/pages/Integrations.js
  src/pro/blocks/add-to-cart-button/edit.js
  src/pro/blocks/business-hours/edit.js
  src/pro/blocks/file/edit.js
  src/pro/blocks/form-hidden-field/edit.js
  src/pro/blocks/form-stripe-field/edit.js
  src/pro/blocks/form-stripe-field/inspector.js
  src/pro/blocks/review-comparison/edit.js
  src/pro/components/webhook-editor/index.tsx
  src/pro/dashboard/index.js
  src/pro/plugins/countdown/index.tsx
  src/pro/plugins/form/index.js
  src/pro/plugins/live-search/edit.js
Labels: pr-checklist-skip, pr-checklist-complete

#1974 fix: otter making repeated api calls
  docs/coding-best-practices.md
  src/blocks/helpers/use-settings.js
  src/blocks/plugins/ai-content/index.tsx
  src/blocks/plugins/options/index.js
Labels: pr-checklist-skip, pr-checklist-complete
