Repository Codeinwp/otter-blocks, pull requests merged in 2024-11, with the labels that each got.

#2438 refactor: keep only the latest release in the changelog
  .releaserc.yml
  bin/update-changelog.mjs
  readme.txt
Labels: pr-checklist-skip

#2440 Added whitespace support to form's submit button
  src/blocks/blocks/form/edit.js
  src/blocks/blocks/form/style.scss
Labels: pr-checklist-skip, pr-checklist-complete

#2459 chore: change Otter Patterns button order & Premium Designs appearance
  src/blocks/plugins/patterns-library/library.js
Labels: pr-checklist-complete
