Repository Codeinwp/otter-blocks, pull requests merged in 2024-08, with the labels that each got.

#2297 chore: disable copy/paste styles feature
  src/blocks/plugins/registerPlugin.tsx
Labels: pr-checklist-skip, pr-checklist-complete

#2295 feat: add Otter notice in FSE editor for Blocks CSS
  inc/class-blocks-css.php
  src/css/editor.js
  src/css/index.js
Labels: pr-checklist-skip, pr-checklist-complete

#2281 feat: add more Woo conditions to Block Conditions module
  .gitignore
  .phpunit.result.cache
  composer.json
  composer.lock
  inc/plugins/class-block-conditions.php
  plugins/otter-pro/inc/plugins/class-block-conditions.php
  src/blocks/plugins/conditions/edit.js
  src/pro/plugins/conditions/edit.js
  src/pro/plugins/conditions/index.js
  tests/bootstrap.php
  tests/test-block-conditions.php
  tests/test-woo-conditions.php
Labels: pr-checklist-complete

#2285 feat: Otter Patterns Library
  inc/class-registration.php
  inc/plugins/class-options-settings.php
  package-lock.json
  package.json
  src/blocks/helpers/icons.js
  src/blocks/plugins/patterns-library/editor.scss
  src/blocks/plugins/patterns-library/index.js
  src/blocks/plugins/patterns-library/library.js
  src/blocks/plugins/patterns-library/preview.js
  src/blocks/plugins/patterns-library/template.js
  src/blocks/plugins/registerPlugin.tsx
  src/dashboard/components/pages/Dashboard.js
Labels: pr-checklist-skip, pr-checklist-complete

#2265 Add API validation step for OpenAI in Settings
  inc/server/class-prompt-server.php
  src/blocks/helpers/prompt.ts
  src/blocks/test/e2e/blocks/dashboard.spec.js
  src/dashboard/components/pages/Integrations.js
Labels: pr-checklist-complete

#2318 feat: use post title as alt if no image alt available in Posts Block
  inc/render/class-posts-grid-block.php
Labels: pr-checklist-skip, pr-checklist-complete

#2319 feat: posts block improvements
  inc/render/class-posts-grid-block.php
  src/blocks/blocks/posts/block.json
  src/blocks/blocks/posts/components/layout/index.js
  src/blocks/blocks/posts/edit.js
  src/blocks/blocks/posts/inspector.js
  src/blocks/blocks/posts/style.scss
  tests/test-post-grid-block.php
Labels: pr-checklist-skip, pr-checklist-complete

#2290 Added neve sidebar promo in the dashboard
  assets/images/neve-logo.png
  assets/images/neve-upsell-img.png
  assets/images/star.png
  inc/plugins/class-dashboard.php
  src/dashboard/components/NeveSidebarUpsell.js
  src/dashboard/index.js
  src/dashboard/style.scss
Labels: pr-checklist-skip, pr-checklist-complete

#2269 Added notice for blocks animations plugin
  inc/class-blocks-animation.php
  plugins/blocks-animation/assets/images/welcome-notice.png
  plugins/blocks-animation/blocks-animation.php
  src/animation/welcome-notice/common/plugin-install.js
  src/animation/welcome-notice/index.js
  src/animation/welcome-notice/style.scss
  webpack.config.plugins.js
Labels: pr-checklist-skip, pr-checklist-complete

#2301 fix: add more selectors for Advanced Heading
  src/blocks/blocks/advanced-heading/style.scss
Labels: pr-checklist-skip, pr-checklist-complete

#2322 feat: add tiled style to Posts Block
  inc/css/blocks/class-posts-css.php
  inc/render/class-posts-grid-block.php
  src/blocks/blocks/posts/block.json
  src/blocks/blocks/posts/components/layout/featured.js
  src/blocks/blocks/posts/components/layout/index.js
  src/blocks/blocks/posts/components/layout/thumbnail.js
  src/blocks/blocks/posts/components/sortable.js
  src/blocks/blocks/posts/constants.js
  src/blocks/blocks/posts/edit.js
  src/blocks/blocks/posts/inspector.js
  src/blocks/blocks/posts/style.scss
  src/blocks/blocks/posts/types.d.ts
  tests/test-post-grid-block.php
Labels: pr-checklist-skip, pr-checklist-complete

#2296 fix: disallow anchor control for using empty ID
  src/blocks/blocks/advanced-heading/edit.js
  src/blocks/components/html-anchor-control/index.js
  src/blocks/helpers/block-utility.js
Labels: pr-checklist-skip, pr-checklist-complete

#2293 feat: use editable actions for AI Toolbar
  inc/plugins/class-options-settings.php
  src/blocks/components/prompt/index.tsx
  src/blocks/components/prompt/prompt-input.tsx
  src/blocks/helpers/prompt.ts
  src/blocks/plugins/ai-content/editor.scss
  src/blocks/plugins/ai-content/index.tsx
  src/blocks/test/e2e/blocks/ai-block.spec.js
  src/blocks/test/e2e/blocks/dashboard.spec.js
  src/dashboard/components/pages/Integrations.js
  src/dashboard/style.scss
Labels: pr-checklist-complete

#2266 Improve issue handlers for Form submissions
  inc/integrations/api/form-request-data.php
  inc/integrations/api/form-response-data.php
  inc/server/class-form-server.php
Labels: pr-checklist-skip, pr-checklist-complete

#2284 feat: add search within category to Live Search for Posts
  plugins/otter-pro/inc/plugins/class-live-search.php
  plugins/otter-pro/inc/server/class-live-search-server.php
  src/blocks/components/index.js
  src/blocks/frontend/live-search/index.ts
  src/blocks/plugins/conditions/edit.js
  src/pro/plugins/live-search/edit.js
  tests/test-live-search.php
Labels: pr-checklist-complete

#2326 fix: button block appearance in latest wp version
  src/blocks/blocks/button-group/button/edit.js
  src/blocks/blocks/button-group/style.scss
Labels: pr-checklist-skip, pr-checklist-complete

#2329 feat: add Timeline block
  blocks.json
  inc/class-base-css.php
  inc/class-registration.php
  inc/css/blocks/class-timeline-css.php
  inc/css/blocks/class-timeline-item-css.php
  src/blocks/blocks/index.js
  src/blocks/blocks/timeline/editor.scss
  src/blocks/blocks/timeline/group/block.json
  src/blocks/blocks/timeline/group/edit.js
  src/blocks/blocks/timeline/group/index.js
  src/blocks/blocks/timeline/group/inspector.js
  src/blocks/blocks/timeline/group/save.js
  src/blocks/blocks/timeline/index.js
  src/blocks/blocks/timeline/item/block.json
  src/blocks/blocks/timeline/item/edit.js
  src/blocks/blocks/timeline/item/index.js
  src/blocks/blocks/timeline/item/inspector.js
  src/blocks/blocks/timeline/item/save.js
  src/blocks/blocks/timeline/style.scss
  src/blocks/blocks/timeline/types.d.ts
  src/blocks/helpers/icons.js
  src/blocks/test/e2e/blocks/timeline.spec.js
  src/dashboard/components/pages/Blocks.js
  src/dashboard/style.scss
Labels: pr-checklist-complete

#2325 feat: add new patterns to the library
  inc/class-patterns.php
  inc/patterns/business-about.php
  inc/patterns/business-contact.php
  inc/patterns/business-homepage.php
  inc/patterns/business-service.php
  inc/patterns/business-services.php
  inc/patterns/call-to-action-1.php
  inc/patterns/call-to-action-2.php
  inc/patterns/call-to-action-3.php
  inc/patterns/call-to-action-4.php
  inc/patterns/call-to-action-5.php
  inc/patterns/call-to-action-6.php
  inc/patterns/call-to-action-7.php
  inc/patterns/contact-details-and-form.php
  inc/patterns/features-1.php
  inc/patterns/features-2.php
  inc/patterns/features-3.php
  inc/patterns/features-4.php
  inc/patterns/features-5.php
  inc/patterns/fitness-about.php
  inc/patterns/fitness-contact.php
  inc/patterns/fitness-group.php
  inc/patterns/fitness-groups.php
  inc/patterns/fitness-homepage.php
  inc/patterns/form-1.php
  inc/patterns/form-2.php
  inc/patterns/form-3.php
  inc/patterns/form-4.php
  inc/patterns/hero-1.php
  inc/patterns/hero-2.php
  inc/patterns/industrial-about.php
  inc/patterns/industrial-homepage.php
  inc/patterns/industrial-service.php
  inc/patterns/industrial-services.php
  inc/patterns/pricing.php
  inc/patterns/team-1.php
  inc/patterns/team-2.php
  inc/patterns/testimonials-1.php
  inc/patterns/testimonials-2.php
  inc/patterns/testimonials-3.php
  src/blocks/plugins/patterns-library/editor.scss
  src/blocks/plugins/patterns-library/library.js
  src/blocks/plugins/patterns-library/preview.js
Labels: pr-checklist-skip, pr-checklist-complete

#2323 feat: add merge fields for Mailchimp
  inc/integrations/api/form-response-data.php
  inc/integrations/providers/class-mailchimp.php
  src/blocks/blocks/form/common.tsx
  src/pro/blocks/form-stripe-field/inspector.js
Labels: doc-needed, pr-checklist-skip, pr-checklist-complete

#2345 Development
  composer.lock
  src/blocks/blocks/section/editor.scss
  src/blocks/blocks/section/style.scss
  src/onboarding/components/Finish.js
  src/onboarding/components/steps/SiteInfo.js
Labels: pr-checklist-skip

#2350 fix: pin down `@wordpress/script` to support WordPress 6.5 or earlier
  package-lock.json
  package.json
Labels: pr-checklist-skip, pr-checklist-complete

#2347 Fixed popup dismiss issue with recurring visitors option
  src/blocks/frontend/popup/popup.ts
Labels: pr-checklist-skip, pr-checklist-complete
