Repository Codeinwp/otter-blocks, pull requests merged in 2024-07, with the labels that each got.

#2233 Fix Buton Group Font settings
  inc/css/blocks/class-button-group-css.php
  src/blocks/blocks/button-group/group/inspector.js
  src/blocks/test/e2e/blocks/block-conditions.spec.js
  src/blocks/test/e2e/blocks/button-group.spec.js
  src/blocks/test/e2e/utils.js
Labels: pr-checklist-complete

#2264 fix: remove field number
  src/blocks/frontend/form/index.js
Labels: pr-checklist-skip

#2274 fix: replace the original block of the AI Toolbar action
  .wp-env.override.json
  bin/e2e-tests.sh
  src/blocks/blocks/content-generator/block.json
  src/blocks/blocks/content-generator/edit.js
  src/blocks/blocks/content-generator/types.d.ts
  src/blocks/plugins/ai-content/index.tsx
  src/blocks/test/e2e/blocks/ai-block.spec.js
Labels: pr-checklist-complete

#2283 fix: enable additional modules by default
  src/animation/index.js
  src/blocks/plugins/conditions/index.js
  src/blocks/plugins/options/index.js
  src/css/index.js
Labels: pr-checklist-skip

#2279 feat: add 7 days notice for upsell
  otter-blocks.php
Labels: pr-checklist-skip, pr-checklist-complete

#2289 fix: AI Block container alignment
  src/blocks/components/prompt/editor.scss
Labels: pr-checklist-skip

#2288 fix: auto scroll for tabs and accordion on opening
  src/blocks/frontend/accordion/index.js
  src/blocks/frontend/tabs/index.js
  src/blocks/helpers/frontend-helper-functions.js
Labels: pr-checklist-skip

#2268 Add AI Toolbar visibility toggle in Dashboard
  inc/class-registration.php
  inc/plugins/class-options-settings.php
  src/blocks/global.d.ts
  src/blocks/plugins/ai-content/index.tsx
  src/blocks/test/e2e/blocks/dashboard.spec.js
  src/dashboard/components/pages/Dashboard.js
Labels: pr-checklist-complete

#2286 fix: increase the height for Popup in Editor on auto mode
  src/blocks/blocks/popup/editor.scss
Labels: pr-checklist-skip, pr-checklist-complete

#2255 Experiment with formats in the toolbar
  src/blocks/plugins/dynamic-content/editor.scss
  src/blocks/plugins/dynamic-content/link/edit.js
  src/blocks/plugins/dynamic-content/value/edit.js
Labels: pr-checklist-skip, pr-checklist-complete

#2276 feat: add themeisle-sdk to Blocks Animation
  Gruntfile.js
  bin/dist.sh
  plugins/blocks-animation/blocks-animation.php
  plugins/blocks-animation/composer.json
  plugins/blocks-animation/composer.lock
Labels: pr-checklist-complete

#2277 feat: display a mix of free/pro in autocomplete
  src/blocks/plugins/dynamic-content/value/autocompleter.js
Labels: pr-checklist-complete

#2291 fix: slider breaking when inside a Section Column
  src/blocks/blocks/slider/editor.scss
Labels: pr-checklist-skip, pr-checklist-complete

#2292 fix: styles not applying on blocks added to widgets
  inc/class-registration.php
Labels: pr-checklist-skip, pr-checklist-complete

#2294 fix: incorrect name for background size on Flip Block php css
  inc/css/blocks/class-flip-css.php
Labels: pr-checklist-skip

#2287 fix: Section block default inheritance for margin and padding
  src/blocks/blocks/section/column/block.json
  src/blocks/blocks/section/column/inspector.js
  src/blocks/blocks/section/columns/block.json
  src/blocks/blocks/section/columns/inspector.js
  src/blocks/test/e2e/blocks/section.spec.js
Labels: pr-checklist-complete
